:root {
  --black: #0E1116;
  --blue: #374A67;
  --blue_grey: #616283;
  --dark_pink: #A07E9D;
  --lilac: #CB9CF2;


  --font: "Lato", sans-serif;
  --my-margin: 10px;
}
.bodycontent {
  color:black;
}

.innernav {
  color:blue;
  background-color:--dark_pink;
}

nav {
  background-color: var(--dark_pink);
}
